<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
    <header class="header">
      <h1 class="logo">
        <a href="">
          <img src="/public/images/logo.png" alt="">
        </a>
      </h1>
      <form action="" class="form">
        <i class="icon fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="搜索资讯">
        <button class="submit">搜索</button>
      </form>
    </header>
    <div class="banner-container">
      <img src="/public/images/news/banner.png" alt="">
      <div class="text">
        苏州 荣盛甫上 在售面积、价格 项目详情 售楼处位置 售楼处电话
      </div>
    </div>
    <section class="news-nav-container">
      <div class="left-nav">
        <nav class="news-nav-list">
          <a class="news-nav-item on">新房导购</a>
          <a class="news-nav-item">本地楼市</a>
          <a class="news-nav-item">项目动态</a>
          <a class="news-nav-item">房产买卖事项</a>
          <a class="news-nav-item">房产租赁事项</a>
        </nav>
      </div>
      <a href="" class="nav-btn"><i class="fa fa-th-large" aria-hidden="true"></i></a>
    </section>
    <section class="news-container max-center">
      <ul class="news-list">
        <li class="news-item">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/news/news.png" alt="">
            </div>
            <div class="text">
              <div class="title">注意！苏州这个区域，购房者迎来改善良机！别错过……</div>
              <div class="date">2020-05-13 16:17:06</div>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/news/news.png" alt="">
            </div>
            <div class="text">
              <div class="title">注意！苏州这个区域，购房者迎来改善良机！别错过……</div>
              <div class="date">2020-05-13 16:17:06</div>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/news/news.png" alt="">
            </div>
            <div class="text">
              <div class="title">注意！苏州这个区域，购房者迎来改善良机！别错过……</div>
              <div class="date">2020-05-13 16:17:06</div>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/news/news.png" alt="">
            </div>
            <div class="text">
              <div class="title">注意！苏州这个区域，购房者迎来改善良机！别错过……</div>
              <div class="date">2020-05-13 16:17:06</div>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/news/news.png" alt="">
            </div>
            <div class="text">
              <div class="title">注意！苏州这个区域，购房者迎来改善良机！别错过……</div>
              <div class="date">2020-05-13 16:17:06</div>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/nav/index.html") %>
</body>

</html>