<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <ul class="info-list">
        <li class="info-item">
          <div class="num">6725</div>
          <div class="text">新房数量(套)</div>
        </li>
        <li class="info-item">
          <div class="num">8010</div>
          <div class="text">小区数(个)</div>
        </li>
        <li class="info-item">
          <div class="num">49741</div>
          <div class="text">二手房数(套)</div>
        </li>
      </ul>
      <img class="bg-img" src="/public/images/home/banner.png">
    </section>
    <section class="menu-container">
      <nav class="menu-list max-center">
        <a href="old_house.html" class="menu-item">
          <div class="icon">
            <img src="/public/images/home/menu-icon1.png" alt="" class="icon">

          </div>
          <div class="title">商铺</div>
        </a>
        <a href="old_house.html" class="menu-item">
          <div class="icon">
            <img src="/public/images/home/menu-icon2.png" alt="" class="icon">

          </div>
          <div class="title">写字楼</div>
        </a>
        <a href="old_house.html" class="menu-item">
          <div class="icon">
            <img src="/public/images/home/menu-icon3.png" alt="" class="icon">

          </div>
          <div class="title">公寓</div>
        </a>
        <a href="new_house.html" class="menu-item">
          <div class="icon">
            <img src="/public/images/home/menu-icon4.png" alt="" class="icon">

          </div>
          <div class="title">住宅</div>
        </a>
      </nav>
    </section>
    <!-- <section class="nav-container">
      <nav class="nav-list max-center">
        <a class="nav-item">
          <div class="icon">
            <img src="/public/images/home/nav-icon1.png" alt="">
          </div>
          <div class="title">计算器</div>
        </a>
        <a class="nav-item">
          <div class="icon">
            <img src="/public/images/home/nav-icon2.png" alt="">
          </div>
          <div class="title">卖房</div>
        </a>
        <a class="nav-item">
          <div class="icon">
            <img src="/public/images/home/nav-icon3.png" alt="">
          </div>
          <div class="title">问答</div>
        </a>
        <a class="nav-item">
          <div class="icon">
            <img src="/public/images/home/nav-icon4.png" alt="">
          </div>
          <div class="title">招聘</div>
        </a>
        <a class="nav-item">
          <div class="icon">
            <img src="/public/images/home/nav-icon5.png" alt="">
          </div>
          <div class="title">百科</div>
        </a>
      </nav>
    </section> -->
    <section class="news-container max-center">
      <div class="title-img">
        <img src="/public/images/home/zixun.png" alt="">
      </div>
      <div class="news-box news-swiper swiper-container">
        <ul class="news-list swiper-wrapper">
          <li class="news-item swiper-slide">
            <a href="news_view.html">相城、姑苏“一线牵”，桐泾路北延工程开建后取得重大进展</a>
          </li>
          <li class="news-item swiper-slide">
            <a href="news_view.html">重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权</a>
          </li>
          <li class="news-item swiper-slide">
            <a href="news_view.html">相城第三实验中学</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="imgs-container max-center">
      <ul class="imgs-list">
        <li class="imgs-item">
          <a href="new_house.html">
            <img src="/public/images/home/img1.png" alt="人气楼盘榜">
          </a>
        </li>
        <li class="imgs-item">
          <a href="new_house.html">
            <img src="/public/images/home/img2.png" alt="热销楼盘榜">
          </a>
        </li>
        <li class="imgs-item">
          <a href="new_house.html">
            <img src="/public/images/home/img3.png" alt="热搜楼盘榜">
          </a>
        </li>
      </ul>
    </section>
    <section class="product-container max-center">
      <div class="title-module">
        <div class="title">苏州新房</div>
        <a href="new_house.html">
          查看更多
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <ul class="product-list">
        <li class="product-item">
          <a href="house_view.html">
            <div class="img">
              <img src="/public/images/home/product.jpg" alt="">
            </div>
            <div class="text">
              <div class="title-module">
                <div class="title">太湖论坛城太湖论坛城太湖论坛城</div>
                <span class="tag">别墅</span>
              </div>
              <div class="address">
                吴中 | 太湖度假区
              </div>
              <div class="price-module">
                <span class="price">15000</span>
                <span class="unit">元/㎡</span>
              </div>
              <div class="area">
                建面60-60㎡ | 1室
              </div>
            </div>
          </a>
        </li>
        <li class="product-item">
          <a href="house_view.html">
            <div class="img">
              <img src="/public/images/home/product.jpg" alt="">
            </div>
            <div class="text">
              <div class="title-module">
                <div class="title">太湖论坛城</div>
                <span class="tag">别墅</span>
              </div>
              <div class="address">
                吴中 | 太湖度假区
              </div>
              <div class="price-module">
                <span class="price">15000</span>
                <span class="unit">元/㎡</span>
              </div>
              <div class="area">
                建面60-60㎡ | 1室
              </div>
            </div>
          </a>
        </li>
        <li class="product-item">
          <a href="house_view.html">
            <div class="img">
              <img src="/public/images/home/product.jpg" alt="">
            </div>
            <div class="text">
              <div class="title-module">
                <div class="title">太湖论坛城</div>
                <span class="tag">别墅</span>
              </div>
              <div class="address">
                吴中 | 太湖度假区
              </div>
              <div class="price-module">
                <span class="price">15000</span>
                <span class="unit">元/㎡</span>
              </div>
              <div class="area">
                建面60-60㎡ | 1室
              </div>
            </div>
          </a>
        </li>
        <li class="product-item">
          <a href="house_view.html">
            <div class="img">
              <img src="/public/images/home/product.jpg" alt="">
            </div>
            <div class="text">
              <div class="title-module">
                <div class="title">太湖论坛城</div>
                <span class="tag">别墅</span>
              </div>
              <div class="address">
                吴中 | 太湖度假区
              </div>
              <div class="price-module">
                <span class="price">15000</span>
                <span class="unit">元/㎡</span>
              </div>
              <div class="area">
                建面60-60㎡ | 1室
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="ad-container">
      <a href="">
        <img src="/public/images/home/ad-banner.png" alt="">
      </a>
    </section>
    <section class="product-container max-center">
      <div class="title-module">
        <ul class="tab-list">
          <li class="tab-item on">苏州商铺</li>
          <li class="tab-item">苏州写字楼</li>
          <li class="tab-item">苏州公寓</li>
        </ul>
        <a href="old_house.html">
          查看更多
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="pro-content">
        <ul class="product-list">
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城太湖论坛城太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
        </ul>
        <ul class="product-list">
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城太湖论坛城太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
        </ul>
        <ul class="product-list">
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城太湖论坛城太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
          <li class="product-item">
            <a href="house_view.html">
              <div class="img">
                <img src="/public/images/home/product.jpg" alt="">
              </div>
              <div class="text">
                <div class="title-module">
                  <div class="title">太湖论坛城</div>
                  <span class="tag">别墅</span>
                </div>
                <div class="address">
                  吴中 | 太湖度假区
                </div>
                <div class="price-module">
                  <span class="price">15000</span>
                  <span class="unit">元/㎡</span>
                </div>
                <div class="area">
                  建面60-60㎡ | 1室
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="article-container max-center">
      <div class="title-module">
        <ul class="tab-list">
          <li class="tab-item on">资讯</li>
          <li class="tab-item">百科</li>
        </ul>
        <a href="news_list.html">
          查看更多
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="article-content">
        <ul class="article-list">
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>

        </ul>
        <ul class="article-list">
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
          <li class="article-item">
            <a href="news_view.html">
              <div class="img">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  重磅利好！国务院发文，苏州园区、相城、吴中、吴江、浒墅关等9大经济开发区将迎更大自主权
                </div>
                <div class="date">
                  2021-11-12 18:32:04
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <%= require("html-loader!../common/footer/index.html") %>
      <%= require("html-loader!../common/nav/index.html") %>
</body>

</html>